/* NOT EDIT! This file generated automatically */

/* Color themes */
:root {
    --primary: #5e9dec;
    --primary-hover: #408be9;
    --primary-active: #1762c0;
    --primary-text: var(--base-0);

    --primary-light: var(--base-0);
    --primary-light-hover: var(--base-100);
    --primary-light-active: var(--base-0);
    --primary-light-text: var(--color-blue-400);

    --secondary: #d5e6fa;
    --secondary-hover: var(--color-blue-100);
    --secondary-active: #d5e6fa;
    --secondary-text: var(--color-blue-400);

    --danger: var(--color-red-300);
    --danger-hover: var(--color-red-200);
    --danger-active: var(--color-red-300);
    --danger-text: var(--base-0);
}

/* Breakpoints */
$breakpoints: (
    mobile: 0px,
    tablet: 1024px,
    laptop: 1280px,
    desktop: 1440px,
)