:global {
    .container {
        width: 100%;
        max-width: 1920px;
        padding: 0 4rem;
        margin: 0 auto;
    }

    .container {
        @include respond-to(tablet) {
            padding: 0 var(--spacer-2);
        }
    }
}
