:global {
    // Fade
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity var(--transition);
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    // Backdrop
    .backdrop-enter-from,
    .backdrop-leave-to {
        background-color: rgba(0, 0, 0, 0);
    }

    .backdrop-enter-active,
    .backdrop-leave-active {
        transition: background-color var(--transition);
    }

    .backdrop-enter-to,
    .backdrop-leave-from {
        background-color: rgba(0, 0, 0, 0.25);
    }

    // Roll-right-left
    .roll-right-left-enter-from,
    .roll-right-left-leave-to {
        transform: translateX(100%);
    }

    .roll-right-left-enter-active,
    .roll-right-left-leave-active {
        transition: transform var(--transition);
    }

    .roll-right-left-enter-to,
    .roll-right-left-leave-from {
        transform: translateX(0%);
    }

    // Roll-left-right
    .roll-left-right-enter-from,
    .roll-left-right-leave-to {
        transform: translateX(-100%);
    }

    .roll-left-right-enter-active,
    .roll-left-right-leave-active {
        transition: transform var(--transition);
    }

    .roll-left-right-enter-to,
    .roll-left-right-leave-from {
        transform: translateX(0%);
    }
}
